$yellow: rgb(238,177,32);
$brown: rgb(51,51,51);

body {
	width: 100%;
	margin: 0;
	padding: 0;
	font: normal 100% 'LatoBold', 'LatoLight';
	background: #fff;
	background-image: radial-gradient(rgb(240,240,240) 10%, transparent 0);
	background-size: 20px 20px;
	overflow-x: hidden;
}

.seventeen {
	font-size: 1.0625em;
}

.section-title {
	font-size: 1.375em;
}

.yellow-font {
	color: $yellow;
}

.yellow-btn {
	background-color: #e8ae43;
	color: #fff;
	text-transform: capitalize;
}

.yellow-line {
	margin: 40px 0;
}

.capitalize {
	text-transform: uppercase;
	font-family: 'LatoBold';
}

.grid-for-img {
	display: flex;	
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.grid-img {
	position: relative;
	padding: 0;
	margin-bottom: 15px;
}

.image-tag {
	font-size: 0.875em;
	background: $brown;
	position: absolute;
	color: #fff;
	text-transform: capitalize;
	padding: 5px 10px;
	left: 0.625em;
	bottom: 0.625em;
}

.card-title {
	background: #333;
	color: #fff;
	text-transform: capitalize;
	font-size: 1.132em;
	padding: 10px;
	font-family: 'LatoBold';
}

.logo-section {
	background: rgb(0,0,0);
	color: #fff;
	font-family: 'LatoBold';
	padding: 25px 55px;
	.logo {
		font-size: 1.75em;
		letter-spacing: 1px;
	}
	.slogan {
		margin-top: 370px;
		margin-bottom: 80px;
		font-size: 1.875em;
		letter-spacing: 1px;
		.slogan-left {
			padding: 20px;
			background: #fff;
			color: $yellow;
			border: 1px solid rgb(138, 138, 138);
		}
		.slogan-right {
			margin-left: -10px;
			padding: 20px;
			border: 1px solid rgb(138, 138, 138);
		}
	}
}

.section-two {
	padding: 50px 0;
	.award-img{
		width: 100%;
	}
	.grid-for-img {
		padding-right: 0;
	}
	// @media(min-width:768px)
	.content {
		// padding-left: 0;
		@media (min-width: 768px) and (max-width: 991px) { 
			padding-left: 0;
		}
		font-size: 0.75em;
	}
	.second {
		margin-top: 100px;
	}
	.grid-img {
		@extend .grid-img;
		margin-bottom: 15px;
		.image-tag {
			@extend .image-tag;
		}
		img {
			padding-left: 0;
			height: 100%;
		}
		&.second-line {
			margin: 0 0 15px 0;
		}
	}
	.check-btn {
		@extend .yellow-btn;	
	}
}

.section-three-head {
	background: rgb(0,0,0);
	color: #fff;
	font-size: 1.375em;
	position: relative;
	height: 260px;
	width: 100%;
	.content {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		div img {
			margin-top: 40px;
		}
	}
}

.section-three {
	padding: 50px 0;
	position: relative;
	.grid-img {
		@extend .grid-img;
		margin-bottom: 5px;
		padding-right: 5px;
		img {
			padding: 0;
			height: 100%;
		}
		&:nth-child(6){
			padding-right: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
	.image-tag {
		@extend .image-tag;
		left: 5px;
	}
	.second {
		margin-top: 100px;
	}
	.grid-item {
		padding: 0;
		padding-left: 10px;
		.card-title {
			@extend .card-title;
			margin: 0;
		}
		.card-content {
			font-size: 0.875em;
			padding: 10px;
			border-bottom: 1px solid #333;
		}
		.icon {
			margin: 20px 0;
			height: 30px
		}
		p {
			font-size: 1.125em;
			font-family: 'LatoLight';
		}
		.light {
			font-family: 'LatoLight'
		}
	}
}

.section-four-head {
	@extend .section-three-head;
	height: 300px;
	.col-8 {
		height: 70px;
	}
}

.section-four {
	padding: 50px 0;
	.category {
		margin-bottom: 30px;
	}
	.grid-img {
		background: #fff;
		padding:0 5px;
		margin-bottom: 10px;
	}
	.grid-content {
		border: 1px solid #333;
		padding: 20px;
	}
	p {
    display: -webkit-box;  
    display: -moz-box;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    word-break: break-all;  
    -webkit-box-orient: vertical;  
    -webkit-line-clamp:3;
    line-clamp: 3;
    font-size: 0.875em;  
	}
	button {
		font-size: 0.875em;
	}
	.category .btn-outline-dark {
		&:hover,
		&:focus,
		&:active {
			color: #f1ad1d;
		}
	}
	.second {
		margin-top: 100px;
	}
	.yellow-line {
		margin-top: 20px;
	}
	.content {
		margin-top: 20px;
		font-size: 0.875em;
	}
	.third {
		margin-top: 200px;
	}
	.top-part {
		border-bottom: 2px solid #333;
		margin-bottom:10px;
		padding-bottom: 10px;
		img {
			width: 100%;
		}
	}
	.second-grid-img {
		padding: 7.5px; 
	}
	.bottom-part {
		.headimg {
			width: 80px;
			height: 50px;
			float: left;
			display: inline-block;
		}
		.name {
			display: inline-block;
			float: left;
			margin-left: 10px;
			font-size: 0.875em;
			.full-name {
				font-family: 'lato regular'
			}
			.job-title {
				font-family: 'LatoLight';
			}
		}
	}
}	

.section-five-head {
	@extend .section-three-head;
	height: 360px;
	.second-line {
		font-size: 0.875em;
	}
	.line {
		margin-top: 40px;
	}
}
.section-five {
	padding: 50px 0;
	.check-btn {
		@extend .yellow-btn;
	}
}

.section-six-head {
	@extend .section-three-head;
	height: 300px;
	.btn-outline-dark {
		// background: #333;
		border: 1px solid #fff;
		color: #fff;
		&:focus {
			background: #333;
			color: #fff;
		}
	}
}
.section-six {
	padding: 50px 0;
	.sentence {
		padding-top: 10px;
	}
	.second {
		margin-top: 80px;
	}
	.multiline {
		margin-top: 15px;
	}
	button {
		text-transform:uppercase;
	}
	.contact {
		font-size: 0.875em;
		font-family: 'LatoLight';
	}
	.form-control {
		font-size: 0.875em;
	}
	.item-img {
		background-color: #333;
		padding: 12px 14px;
		width: 40px;
		height: 35px;
		margin-bottom: 10px;
	}
	.item-text {
		margin-left: 10px;
	}
	.yellow-bg {
		background: #e7ae43;
		padding: 13px 14px;
		width: 40px;
		height: 40px;
	}
}

.up-footer {
	background: $brown;
	color: white;
	line-height:40px;
	font-size: 0.75em;
}

footer p {
	margin-top: 15px;
	font-size: 0.625em;
}
