body {
  width: 100%;
  margin: 0;
  padding: 0;
  font: normal 100% 'LatoBold', 'LatoLight';
  background: #fff;
  background-image: radial-gradient(#f0f0f0 10%, transparent 0);
  background-size: 20px 20px;
  overflow-x: hidden; }

.seventeen {
  font-size: 1.0625em; }

.section-title {
  font-size: 1.375em; }

.yellow-font {
  color: #eeb120; }

.yellow-btn, .section-two .check-btn, .section-five .check-btn {
  background-color: #e8ae43;
  color: #fff;
  text-transform: capitalize; }

.yellow-line {
  margin: 40px 0; }

.capitalize {
  text-transform: uppercase;
  font-family: 'LatoBold'; }

.grid-for-img {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.grid-img, .section-two .grid-img, .section-three .grid-img {
  position: relative;
  padding: 0;
  margin-bottom: 15px; }

.image-tag, .section-two .grid-img .image-tag, .section-three .image-tag {
  font-size: 0.875em;
  background: #333333;
  position: absolute;
  color: #fff;
  text-transform: capitalize;
  padding: 5px 10px;
  left: 0.625em;
  bottom: 0.625em; }

.card-title, .section-three .grid-item .card-title {
  background: #333;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.132em;
  padding: 10px;
  font-family: 'LatoBold'; }

.logo-section {
  background: black;
  color: #fff;
  font-family: 'LatoBold';
  padding: 25px 55px; }
  .logo-section .logo {
    font-size: 1.75em;
    letter-spacing: 1px; }
  .logo-section .slogan {
    margin-top: 370px;
    margin-bottom: 80px;
    font-size: 1.875em;
    letter-spacing: 1px; }
    .logo-section .slogan .slogan-left {
      padding: 20px;
      background: #fff;
      color: #eeb120;
      border: 1px solid #8a8a8a; }
    .logo-section .slogan .slogan-right {
      margin-left: -10px;
      padding: 20px;
      border: 1px solid #8a8a8a; }

.section-two {
  padding: 50px 0; }
  .section-two .award-img {
    width: 100%; }
  .section-two .grid-for-img {
    padding-right: 0; }
  .section-two .content {
    font-size: 0.75em; }
    @media (min-width: 768px) and (max-width: 991px) {
      .section-two .content {
        padding-left: 0; } }
  .section-two .second {
    margin-top: 100px; }
  .section-two .grid-img {
    margin-bottom: 15px; }
    .section-two .grid-img img {
      padding-left: 0;
      height: 100%; }
    .section-two .second-line.grid-img {
      margin: 0 0 15px 0; }

.section-three-head, .section-four-head, .section-five-head, .section-six-head {
  background: black;
  color: #fff;
  font-size: 1.375em;
  position: relative;
  height: 260px;
  width: 100%; }
  .section-three-head .content, .section-four-head .content, .section-five-head .content, .section-six-head .content {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    .section-three-head .content div img, .section-four-head .content div img, .section-five-head .content div img, .section-six-head .content div img {
      margin-top: 40px; }

.section-three {
  padding: 50px 0;
  position: relative; }
  .section-three .grid-img {
    margin-bottom: 5px;
    padding-right: 5px; }
    .section-three .grid-img img {
      padding: 0;
      height: 100%; }
    .section-three .grid-img:nth-child(6) {
      padding-right: 0; }
    .section-three .grid-img:last-child {
      padding-right: 0; }
  .section-three .section-two .grid-img .image-tag, .section-two .grid-img .section-three .image-tag, .section-three .image-tag {
    left: 5px; }
  .section-three .second {
    margin-top: 100px; }
  .section-three .grid-item {
    padding: 0;
    padding-left: 10px; }
    .section-three .grid-item .card-title {
      margin: 0; }
    .section-three .grid-item .card-content {
      font-size: 0.875em;
      padding: 10px;
      border-bottom: 1px solid #333; }
    .section-three .grid-item .icon {
      margin: 20px 0;
      height: 30px; }
    .section-three .grid-item p {
      font-size: 1.125em;
      font-family: 'LatoLight'; }
    .section-three .grid-item .light {
      font-family: "LatoLight"; }

.section-four-head {
  height: 300px; }
  .section-four-head .col-8 {
    height: 70px; }

.section-four {
  padding: 50px 0; }
  .section-four .category {
    margin-bottom: 30px; }
  .section-four .grid-img {
    background: #fff;
    padding: 0 5px;
    margin-bottom: 10px; }
  .section-four .grid-content {
    border: 1px solid #333;
    padding: 20px; }
  .section-four p {
    display: -webkit-box;
    display: -moz-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    font-size: 0.875em; }
  .section-four button {
    font-size: 0.875em; }
  .section-four .category .btn-outline-dark:hover, .section-four .category .btn-outline-dark:focus, .section-four .category .btn-outline-dark:active {
    color: #f1ad1d; }
  .section-four .second {
    margin-top: 100px; }
  .section-four .yellow-line {
    margin-top: 20px; }
  .section-four .content {
    margin-top: 20px;
    font-size: 0.875em; }
  .section-four .third {
    margin-top: 200px; }
  .section-four .top-part {
    border-bottom: 2px solid #333;
    margin-bottom: 10px;
    padding-bottom: 10px; }
    .section-four .top-part img {
      width: 100%; }
  .section-four .second-grid-img {
    padding: 7.5px; }
  .section-four .bottom-part .headimg {
    width: 80px;
    height: 50px;
    float: left;
    display: inline-block; }
  .section-four .bottom-part .name {
    display: inline-block;
    float: left;
    margin-left: 10px;
    font-size: 0.875em; }
    .section-four .bottom-part .name .full-name {
      font-family: "lato regular"; }
    .section-four .bottom-part .name .job-title {
      font-family: 'LatoLight'; }

.section-five-head {
  height: 360px; }
  .section-five-head .second-line {
    font-size: 0.875em; }
  .section-five-head .line {
    margin-top: 40px; }

.section-five {
  padding: 50px 0; }

.section-six-head {
  height: 300px; }
  .section-six-head .btn-outline-dark {
    border: 1px solid #fff;
    color: #fff; }
    .section-six-head .btn-outline-dark:focus {
      background: #333;
      color: #fff; }

.section-six {
  padding: 50px 0; }
  .section-six .sentence {
    padding-top: 10px; }
  .section-six .second {
    margin-top: 80px; }
  .section-six .multiline {
    margin-top: 15px; }
  .section-six button {
    text-transform: uppercase; }
  .section-six .contact {
    font-size: 0.875em;
    font-family: 'LatoLight'; }
  .section-six .form-control {
    font-size: 0.875em; }
  .section-six .item-img {
    background-color: #333;
    padding: 12px 14px;
    width: 40px;
    height: 35px;
    margin-bottom: 10px; }
  .section-six .item-text {
    margin-left: 10px; }
  .section-six .yellow-bg {
    background: #e7ae43;
    padding: 13px 14px;
    width: 40px;
    height: 40px; }

.up-footer {
  background: #333333;
  color: white;
  line-height: 40px;
  font-size: 0.75em; }

footer p {
  margin-top: 15px;
  font-size: 0.625em; }

/*# sourceMappingURL=index.css.map */
